.upgrade-grid-card {
	flex: 1;
	box-sizing: border-box;
	background-color: #040404;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	text-align: start;
	font-size: 0.8rem;
	margin-left: 5px;
}

.unit {
	text-align: start;
	font-size: 0.7rem;
	margin-left: 10px;
	color: var(--text-light);
}

.actual {
	text-align: start;
	font-size: 0.7rem;
	margin-left: 10px;
	color: var(--text-light);
}

.upgrade-grid-button {
	background-color: #2a2a2a;
	border: 1px solid #444;
	color: var(--text-light);
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.8rem;
	transition:
		background-color 0.2s,
		border-color 0.2s;
	padding: 5px 10px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.upgrade-grid-button:hover:not(:disabled) {
	background-color: #3a3a3a;
	border-color: #666;
}

.upgrade-grid-button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
